G*
common/*.mo
doc/*.pdf
judoshiai/obj-linux/*
judotimer/obj-linux/*
judoinfo/obj-linux/*
judoweight/obj-linux/*
judojudogi/obj-linux/*
judoshiai/basic.output
judoshiai/basic.tab.c
judoshiai/basic.tab.h
judoshiai/lex.yy.c
release-*
test
*~
