/* default */
* {
engine: none;

border-width: 1px;
background-clip: padding-box;

-GtkArrow-arrow-scaling: 0.5;
-GtkButton-child-displacement-x: 1;
-GtkButton-child-displacement-y: 1;
-GtkButton-default-border: 0;
-GtkButton-image-spacing: 0;
-GtkButton-interior-focus: true;
-GtkButton-inner-border: 1;
-GtkCheckButton-indicator-size: 15;
-GtkCheckMenuItem-indicator-size: 12;
-GtkEntry-inner-border: 1;
-GtkEntry-progress-border: 0;
-GtkExpander-expander-size: 12;
-GtkHTML-link-color: @link_color;
-GtkIMHtml-hyperlink-color: @link_color;
-GtkMenu-horizontal-padding: 0;
-GtkMenu-vertical-padding: 0;
-GtkMenuBar-internal-padding: 0;
-GtkMenuItem-arrow-scaling: 0.4;
-GtkNotebook-initial-gap: 0;
-GtkNotebook-tab-overlap: -2;
-GtkPaned-handle-size: 1;
-GtkProgressBar-min-horizontal-bar-height: 10;
-GtkProgressBar-min-vertical-bar-width: 10;
-GtkRange-slider-width: 9;
-GtkRange-stepper-size: 0;
-GtkRange-stepper-spacing: 0;
-GtkRange-trough-border: 3;
-GtkRange-trough-under-steppers: 1;
-GtkScale-trough-border: 1;
-GtkScrollbar-activate-slider: 1;
-GtkScrollbar-trough-border: 1;
-GtkScrollbar-slider-width: 15;
-GtkScrollbar-min-slider-length: 50;
-GtkScrolledWindow-scrollbar-spacing: 0;
-GtkScrolledWindow-scrollbars-within-bevel: 1;
-GtkSeparatorMenuItem-horizontal-padding: 0;
-GtkStatusbar-shadow-type: none;
-GtkTextView-error-underline-color: @error_color;
-GtkToolButton-icon-spacing: 6;
-GtkToolItemGroup-expander-size: 11;
-GtkToolbar-internal-padding: 0;
-GtkTreeView-expander-size: 11;
-GtkTreeView-vertical-separator: 0;
-GtkWidget-wide-separators: true;
-GtkWidget-separator-width: 1;
-GtkWidget-separator-height: 1;
-GtkWidget-focus-padding: 0;
-GtkWidget-focus-line-width: 1;
-GtkWidget-link-color: @link_color;
-GtkWidget-visited-link-color: @link_color;
-GtkWindow-resize-grip-width: 13;
-GtkWindow-resize-grip-height: 13;
-WnckTasklist-fade-overlay-rect: 0;
}

GtkTreeView row:nth-child(even) {
    background-color: #eee;
}

GtkTreeView row:nth-child(odd) {
    background-color: #ddd;
}
