[Desktop Entry]
Name=JudoTimer Scoreboard and Clocks
Comment=Run judo contest
Exec=judotimer
Icon=judotimer.png
Terminal=false
Type=Application
Categories=Application;Other;
StartupNotify=true
