[Desktop Entry]
Name=JudoWeight for weigh-in
Comment=Remote weigh-in
Exec=judoweight
Icon=judoweight.png
Terminal=false
Type=Application
Categories=Application;Other;
StartupNotify=true
